.google {
	color: green;
}

.linkgroup {
	color: red;
}

#second-div p:nth-child(odd) {
	color: red;
}

#second-div p:nth-child(even) {
	color: blue;
}

#first-div > p::after {
	content: " - NEW";
	color: yellow;
}

p:last-child:hover {
	font-style: italic;
}