.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex-basis: 20%;
    box-sizing: border-box;
    padding: 8px;
   
    border-radius: 50% ;
}

.box {
    height: 100%;
    background-color: rgb(0, 140, 255);    
    text-align: center;
    border-radius: 5% 5% 0 0 ;
    
}

.box > p {
    margin: 0;
    background-color: white;
    border: 1px solid grey;

}

.placeholder{
    height: 100px;    
}

@media screen and (max-width: 1024px) {
    .column {
        flex-basis:33.33%;
    }
}

@media screen and (max-width: 768px) {
    .column {
        flex-basis:50%;
    }
}

@media screen and (max-width: 414px) {
    .column {
        flex-basis:100%;
        flex-direction: column;
        flex-flow: row nowrap;
    }
}